# Global Orange configuration
#

[DEFAULT]
version = orange
version_display = Orange v2.5


# Some info about Orange
[Orange]

# Change to False if installing orange for scripting only
#is_canvas_installed = True

# Change to disable deprecated member mapping, can also be set using 
# ORANGE_NO_DEPRECATED_MEMBERS env flag.
#orange_no_deprecated_members = True


#####################
# Default directories
#####################
[directories] 

# Uncomemnt to hardcode the home directory (it defaults to $HOME env variable)
#home = /home/%(USER)s

# Uncomment to set a non default install dir
# otherwise install_dir is initialized automatically 
#install_dir = %(home)s/lib/myorange

canvas_install_dir = %(install_dir)s/OrangeCanvas
widget_install_dir = %(install_dir)s/OrangeWidgets
icons_install_dir = %(install_dir)s/OrangeWidgets/icons

# Directory where documentation is installed
doc_install_dir = %(install_dir)s/doc

# Directory where orange add-ons are installed by Orange.misc.addons 
add_ons_dir = %(install_dir)s/add-ons

# Directory where canvas and widget settings are saved 
application_dir = %(home)s/.%(version)s

# Where Orange Canvas can save stuff
output_dir = %(application_dir)s

# Default reports directory
default_reports_dir = %(home)s/Documents

# Default directory for user installed orange add-ons 
add_ons_dir_user = %(output_dir)s/add-ons

# Default directory where orange settings are saved
orange_settings_dir = %(output_dir)s

# Default directory where Canvas settings are saved 
canvas_settings_dir = %(output_dir)s/OrangeCanvasQt4

# Default directory where widget settings are saved 
widget_settings_dir = %(output_dir)s/widgetSettingsQt4

# Directory where orange can cache big files
# (mostly used by the Bioinformatics add-on)
buffer_dir = %(output_dir)s/buffer


########################
# Directories on Windows
########################
[directories win32] 

# %APPDATA env var contains the place where apps can store
# data (Application Data directory)
application_dir = %(APPDATA)s
output_dir = %(application_dir)s/%(version)s

# Need to redefine all options depending on output_dir 
default_reports_dir = %(home)s/My Documents/
add_ons_dir_user = %(output_dir)s/add-ons
orange_settings_dir = %(output_dir)s
canvas_settings_dir = %(output_dir)s/OrangeCanvasQt4
widget_settings_dir = %(output_dir)s/widgetSettingsQt4
buffer_dir = %(application_dir)s/%(version)s/buffer


########################
# Directories on Mac OSX
########################
[directories darwin]

application_dir = %(home)s/Library/Application Support
output_dir = %(application_dir)s/%(version)s

# Need to redefine all options depending on outputdir
add_ons_dir_user = %(output_dir)s/add-ons
orange_settings_dir = %(output_dir)s
canvas_settings_dir = %(output_dir)s/OrangeCanvasQt4
widget_settings_dir = %(output_dir)s/widgetSettingsQt4
default_reports_dir = %(home)s/Documents
buffer_dir = %(home)s/Library/Caches/%(version)s
