@import url("basic.css");

/* http://colorschemedesigner.com/#0G21Tw0w0w0w0 */

a, a:link, a:visited, a:hover, a:focus, a.active {
	color: #2f31ff; /*#f95503;*/ /*#0e6cde; */
	text-decoration: none;
	border: none;
}

a:hover {
/*    border-bottom: dotted thin; */
	text-shadow: 0 0 1px #2f31ff;
}

body, td {
    color: black;
    font-family: Verdana, Arial;
    font-size: 12px;
    line-height: 1.5;
    padding: 0px;
}

body {
    background-color: #f8f8f8;
    margin: 0px;
    padding: 15px;
    text-align: center;
}

div#container
{
    margin-left: auto;
    margin-right: auto;
    width: 830px;
    text-align: left;
}

div.border1 {
    background-color: #ffece3;
    height: 1px;
    margin-left:3px;
    margin-right:3px;
}

div.border2 {
    background-color: #ffece3;
    height: 1px;
    margin-left: 1px;
    margin-right: 1px;
}

div.borderv {
    background-color:#ffece3;
    padding-left: 2px;
    padding-right: 2px;
}

div#header {
    background-color: #fcfcfc;
}

div#footerinner {
    background-color: #fcfcfc;
}

div#header {
    /*height: 70px;
    */
    padding-top:20px;
}

div#orangeimg {
    float: left;
	z-index:20;
	position: relative;
}


div#orangeimg img {
    border:none;
	margin-left: 10px;
	margin-right: 10px;
}

form#cse-search-box {
    text-align: right;
	margin-bottom: 16px;
}

div#underimg {
/*	border-bottom: 2px #ffece3 solid;*/
	border-bottom: 2px #ffcbaf solid;
    z-index: 10;
	position: relative;
	height: 1px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 3px;
}

table#uplinks  {
   margin-left:auto;
   padding-right: 12px;
   padding-bottom: 1px;
}

table#uplinks td {
   text-align: right;
   padding-left: 20px;
   font-size: 12px;
   font-weight: bold;
}

table#uplinks2  {
   margin-left:auto;
   padding-right: 0px;
   padding-bottom: 1px;
   margin-bottom: -10px;
   margin-top: -5px;
}

table#uplinks2 td {
   text-align: right;
   padding-left: 20px;
   font-size: 12px;
   /*font-weight: bold; */
}

div.related {
    background-color: #f8f8f8;
    line-height: 30px;
    color: #000000;
    text-align: left;
    font-size: 12px;
    border-bottom: 1px solid #FFECE3;
    border-top: 1px solid #FFECE3;
}

div.related:first-child {
    border-bottom: 1px solid #FFECE3;
}

div.document {
    background-color: #ffffff;
    color: #000000;
}

div.bodywrapper {
    margin-left: 0px;
}

div.body p, div.body dd, div.body li {
    text-align: left;
}


div.body li {
    line-height: 160%;
}

div#main, div#footer {
    float: none; 
	margin-top: 8px;
}

div#maininner {
	background-color: white;
	padding-top: 20px;
	padding: 10px;
}

div#footerinner {
	padding: 5px;
}

div#footerinner table {
    width: 100%;
}

div#footerinner table tr {
	padding-top: 0;
	margin-top: 0;
}

div#footerinner table td {
	line-height: 18px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: top;
}

div#footerinner table td p {
	margin: 0;
	border-bottom: solid 2px #ffcbaf; /*#ffece3;*/

}

div#footerinner table td p a {
	font-weight: bold;

}

#img-snap {
  width: 400px;
  margin-right: 30px;
  margin-left: 20px;
  margin-top: 40px;
}

.intro {
  font-size: 13px;
  line-height: 24px;
  position: relative;
  font-weight: bold;
  margin-top: 40px
}

.intro-big {
  font-size: 16px;
}

p#latest-header {
  margin-top: 80px;
  padding-left: 3px;
/*  border-bottom: 2px #ffece3 solid;*/
  border-bottom: 2px #ffcbaf solid;
  font-weight: bold;
}  

table#latest img {
  padding-right: 5px;
}

table#latest a {
  padding-left: 10px;
}

table#latest tr td {
  padding-bottom: 5px;
  vertical-align: top;
}


div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6,
p.rubric  {
    font-family: inherit;
    background-color: inherit;
    color: inherit;
    border-bottom: 1px solid #ccc;
    margin: 30px 0px 5px 0px;
    padding: 1px 0 1px 3px;
}

h1, h2, h3  {
	font-weight: bold;
	font-family: inherit;
	vertical-align: middle;
	padding-left: 20px;
	white-space: nowrap;
    padding-left: 0px; 
	border-bottom: 1px #ffdecb solid;
}

h3  {
	border-bottom: 2px black solid; /*#ffdecb solid;*/
}

h1, h2, h3  {
	border-bottom: 1px #ffdecb solid;
}
tt {
    font-size: 13px;
}

tt.descname {
    margin-bottom: 0px;
    font-size: 13px;
}

H1 , div.body h1 {
	font-size: 13px;
    font-weight: bold;
	border-bottom: 1px black solid;
    padding-left: 5px;
    background-color: #ffdecb;
    margin-left: -5px;
}

div.body p, div.body dd, div.body.li {
    line-height: 160%;
}

H2, div.body h2 {
	font-weight: bold;
	font-family: Verdana;
    font-size: 13px;
    padding-left: 5px;
    padding-bottom: 3px;
/*	width: 204px;*/
/*	background-color: #F69810;*/
	background-color: #e8e8e8;
	height: 16px;
	vertical-align: middle;
	white-space: nowrap;
    /*clear: both;*/
	border-bottom: 1px black solid;
    margin-left: -5px;
}


h3, div.body h3,
h4, div.body h4 {
    margin-left: -5px;
    padding-left: 5px;
    font-size: 14px;
}

h3, div.body h3 {
    background-color: #f8f8f8;
}

/*H3 {
	font-weight: bold;
	font-family: Verdana;
	font-size: 13px;
	white-space: nowrap;
}
*/
H1, H2, H3 {
    text-align: left;
    clear: none;
}

/*
div.body h1, div.body h2, div.body h3 {
    text-aligh:left;
    padding: 0 0 0 0;
    border-bottom: 2px #fffff solid;
    font-family: Verdana;
	font-size: 13px;
	font-weight: bold;
	width: 204px;
	vertical-align: middle;
}
*/


table.field-list th.field-name {
    font-weight: normal;
}

table.field-list td.field-body tt.xref {
    font-weight: normal;
}


dl.class > dt {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
    border-bottom: 1px solid #e0e0e0;
    font-style: normal;
}

dl.class > dt {
    line-height: 180%;
    text-indent: -30px;
    padding-left: 30px;
}

dl.class > dt > em, dl.class > dt tt {
    font-style: normal;
    font-family: Verdana, Arial;
}

dl.class > dt > em {
    font-weight: normal;
}

dl.class > dt > em.property {
    font-weight: bold;
}

dl.class dt > tt.descclassname {
/*    color: #777;*/
    font-weight: normal;
    font-size: 14px;
}

dl.class > dt big, dl.class > dt .optional {
    font-size: inherit;
    font-weight: normal;
}

div.body h1 {
//   	background-color: #ff8e00; //#fe6612; // border-bottom: 2px #fe6612 solid;
}

div.body h2 {
//    background-color: #ffc173;
}

P.section { font-weight: bold }

DL.attributes DT { font-family: monospace; font-weight: bold; margin-top: 1em }

DL.attributes P { margin-top: 0pt; margin-bottom: 0pt}

DL.attributes DT.notcode {  }

DL.attributes P.header { margin-bottom: 0mm; margin-top: 1em}

P.header {
  margin-bottom: 0mm;
  margin-top: 1em;
  font-weight: bold;
  font-size: 11px;
 }

XMP.code, PRE.code { 
  background-color: #36D88A; //#FFFFE8;
  margin-top: 3px;
  border-left: thin dotted #f69810;
  padding-left: 3px;
}

pre {
    padding: 5px;
    background-color: #eeffcc;
    color: #333333;
    line-height: 120%;
    border: 1px solid #ac9;
    border-left: none;
    border-right: none;
    text-align: left;
}

div.document {
    text-align: left;
    padding-left: 5px
}

div.documentwrapper {
    float: none;
}

div.footer {
    text-align: right;
}

div.note {
    background-color: #eee;
    border: 1px solid #ccc;
    padding-bottom: 0px;
} 


/* -- sidebar --------------------------------------------------------------- */

div.sphinxsidebarwrapper {
    padding: 0px 0px 0px 10px;
    border: 1px solid #FFECE3; //#ac9;
    background-color: #f8f8f8;
    padding-top: 0;
}


div.sphinxsidebar ul {
    padding-left: 0px;
}

div.sphinxsidebarwrapper  h3 {
    margin-top: 5px !important;
}


div.sphinxsidebar {
/*    position: relative;
    top: -30px;*/
    font-size: 90%;
    margin-left: 0;
    margin-top: 0;
    padding: 10px;
    padding-top: 0;
    padding-right: 0;
    text-align: left;
    z-index: 10;
    background-color: white;
    float: right;
    padding-left: 30px;
}

div.sphinxsidebar ul {
    list-style: none;
    padding-left: 15px;
}

div.sphinxsidebarwrapper > ul {
    padding-left: 0px;
}

div.sphinxsidebarwrapper > ul > li > a {
    font-weight: bold;
}

div.sphinxsidebar ul ul,
div.sphinxsidebar ul.want-points {
    margin-left: 5px;
    list-style: square;
}

div.sphinxsidebar ul ul {
    margin-top: 0;
    margin-bottom: 0;
}

div.sphinxsidebar form {
    margin-top: 10px;
}

div.sphinxsidebar input {
    border: 1px solid #e0e0e0;
    font-family: sans-serif;
    font-size: 13px;
}

div.sphinxsidebar h3 a {
    color: #2F31FF;
}

img {
    border: 0;
}

div#sidebarbutton {
    background-color: #EEEEEE;
    color: black;
    border-left: 1px solid #FFECE3;
    border-right: 1px solid #FFECE3;
    font-size: 1.2em;
    cursor: pointer;
    padding-top: 1px;
    width: 10px;
}

div #sidebarbutton:hover {
	background-color: #CCCCCC;
}

table.field-list td, table.field-list th {
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
}

table.field-list th.field-name {
    background-color: #f8f8f8;
}

table.docutils {
	border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
}
   
img.image-float-left {
	float:left;
}

	
.stamp-list li.list-item-1 {
	list-style-image: url(../_static/images/1.png)
}

.stamp-list li.list-item-2 {
	list-style-image: url(../_static/images/2.png)
}

.stamp-list li.list-item-3 {
	list-style-image: url(../_static/images/3.png)
}

.stamp-list li.list-item-4 {
	list-style-image: url(../_static/images/4.png)
}

.stamp-list li.list-item-5 {
	list-style-image: url(../_static/images/5.png)
}

.stamp-list li.list-item-6 {
	list-style-image: url(../_static/images/6.png)
}

.stamp-list li.list-item-7 {
	list-style-image: url(../_static/images/7.png)
}

.stamp-list li.list-item-8 {
	list-style-image: url(../_static/images/8.png)
}

.stamp-list li.list-item-9 {
	list-style-image: url(../_static/images/9.png)
}

.stamp-list li.list-item-10 {
	list-style-image: url(../_static/images/10.png)
}
