include *.py *.txt *.c

recursive-include Orange *
recursive-include OrangeWidgets *
recursive-include OrangeCanvas *
recursive-include doc *
recursive-include source *
prune source/*/px
prune source/*/ppp