Source: python-orange-svn
Priority: optional
Maintainer: Mitar <mitar@tnode.com>
Build-Depends: debhelper (>= 7), python-all-dev, python-numpy (>= 1:1.1.0-3)
Standards-Version: 3.8.0
Section: python
Homepage: http://www.ailab.si/orange/

Package: orange-svn
Architecture: any
Provides: ${python:Provides}
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-orange-svn (= ${binary:Version}), python-qt4 (>= 4.4.2-4), python-qwt5-qt4 (>= 5.1.0.dfsg-1), graphviz
Section: science
Description: Data mining framework (GUI)
 Orange is a component-based data mining software. It includes a range
 of data visualization, exploration, preprocessing and modeling
 techniques. It can be used through a nice and intuitive user interface
 or, for more advanced users, as a module for Python programming language.
 .
 This package provides a graphical user interface.

Package: python-orange-svn
Architecture: any
Provides: ${python:Provides}
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-imaging (>= 1.1.6-3)
Description: Data mining framework (Python module)
 Orange is a component-based data mining software. It includes a range
 of data visualization, exploration, preprocessing and modeling
 techniques. It can be used through a nice and intuitive user interface
 or, for more advanced users, as a module for Python programming language.
 .
 This package provides a Python module.
